<!DOCTYPE html>
<body>
    <head>
    <form action="/api/add_mst_Advertisers" enctype="multipart/form-data" method="post">
        <input id="fileSelect" name="add_AdvertisersFile" type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />  
        <button type="submit"> UploadAdvertisersData </button>
    </form><br><br>

    <form action="/api/add_mst_Brands" enctype="multipart/form-data" method="post">
        <input id="fileSelect" name="add_BrandFile" type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />  
        <button type="submit"> UploadBrandsData  </button>
    </form><br><br>
        
    <form action="/api/add_mst_Commercials" enctype="multipart/form-data" method="post">
        <input id="fileSelect" name="add_CommercialsFile" type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />  
        <button type="submit"> UploadCommercialsData  </button>
    </form><br><br>   

    <form action="/api/add_mst_Programmes" enctype="multipart/form-data" method="post">
        <input id="fileSelect" name="add_Programmes" type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />  
        <button type="submit"> UploadProgrammsData  </button>
    </form>   

    </head>
</body>
